.FixedBottomButton {
    border-radius: 25px !important;
    width: 48px;
    height: 48px;
}

.Textarea {
    margin: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    outline: none;
    resize: none;
    appearance: none;
    line-height: 19px;
    font-size: 16px;
    color: var(--text_primary);
    padding: 12px;
    min-height: 86px;
    max-height: 198px;
    z-index: 2;
    position: relative;
    background:linear-gradient(90deg, rgba(0,147,134,0.1) 0%, rgba(27,187,134,0.1) 56%, rgba(243,255,142,0.1) 100%);
    border-radius: 10px;
    border: 1px solid var(--field_border);
}

.FormField {
    position: relative;
}

.FormField__border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--field_background);
    content: '';
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
    transform-origin: left top;
}

::placeholder {
    color: var(--field_text_placeholder);
}

.Textarea :disabled {
    opacity: .4;
}

.Textarea :disabled::placeholder {
    color: var(--text_secondary);
}

body[scheme="space_gray"] {
    color: white;
}
